.none{
    display: none;
}
.Short {  
  width: 100%;  
  color: #dc3545;  
  font-weight: 500;  
  font-size: 14px;  
}
.validateUsername {  
  color: #dc3545;  
  font-weight: 500;  
  font-size: 14px;  
}
.swal2-title{
  color: #ffff;
}

.Short2 {  
  border: 2px solid orange;
  background-color: rgb(255, 211, 211);
}


.Weak {  
  width: 100%;  
  color: #ffc107;  
  font-weight: 500;  
  font-size: 14px;   
}  
.Weak2 {  
  border: 2px solid #f8df92;
  background-color: #f8df92;
  margin-top: -20px;
  margin-left: -40%;
}
.Good {  
  width: 100%;  
  color: #28a745;  
  font-weight: 500;  
  font-size: 14px;    
  margin-top: -20px;
  margin-left: -40%;
}  
.Good2 {  
  border: 2px solid #28a745;
  background-color: #bef8cb;
}
.Strong {  
  width: 100%;  
  color: #4ef6ee;  
  font-weight: 500;  
  font-size: 14px;  
  margin-top: -20px;
  margin-left: -40%;
}  
.Strong2 {  
  border: 2px solid #00f8ec;
  background-color: #baf3f0;
}


